.edu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 4.2rem;
}

.edu h2{
    padding: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.75px;
    line-height: 1.5;
    border-bottom: 1px solid #888;
    
}


.school{
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.50px;
    
}

.edu p {
 font-size: 1.6rem;
 letter-spacing: 0.50px;

 
}

.edu span{
    color: blue;
    font-size: 1.6rem;
}