.premain{
    padding: 4rem;
   max-width: 500px;
}

.title{
    font-size: 4.2rem;
    font-weight: bold;
    letter-spacing: 0.75px;
    
}

.work{
    font-size: 1.6rem;
    font-weight: 500;
    color: blue;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.loc{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.icon{
    font-size: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.ic{
    font-size: 2rem;

}

.text{
    font-size: 1.8rem;
    font-weight: 500;
}

.about{
    font-size: 1.6rem;
    letter-spacing: 0.75px;
    margin-bottom: 4.2rem;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}

.con{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.span{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.span a:link, .span a:visited{
    display: inline-block;
    color: blue;
    font-size: 1.6rem;
    text-decoration: none;
    
}

.span a:hover, .span a:active{
    color: #000;
    text-decoration: underline;
}


.num{
    font-size: 1.6rem;
}

.grid{
   display: flex;
   gap: 2rem;
}