@import "tailwindcss";


*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.6;
  margin: 0;
}

.container{
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  
}


/* 
************************
NavBar Style
************************
*/

.nav-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */



  height: 7.3rem;
  margin-bottom: 9.6rem;
  margin-top: 1rem;
  position: relative;
  
}

.nav-main::after{
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  width: 100vw;
  height: 1px;
  background: black;
  transform: translateX(-50%);
}

.nav-list{
  display: flex;
  gap: 4.4rem;
  align-items: center;
}

.nav-list li{
  font-size: 1.6rem;
  list-style: none;
  font-weight: 500;
  
}

.nav-list li a:link, .nav-list li a:visited{
  color: #444;
  text-decoration: none;
  letter-spacing: 0.50px;
}

.nav-list li a:hover, .nav-list li a:active{
  text-decoration: underline;
  color: #555;
}


.title{
  font-size: 3.2rem;
  letter-spacing: 0.75px;
  font-weight: 600;
}

.btn-nav {
  display: inline-block;
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  font-size: 1.6rem;
}

.btn-nav:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}


/* 
************************
Profile Style
************************
 */

.profile-section{
  padding:  3.2rem 0;
  background-color: #444;
  border-radius: 5rem;
  margin-bottom: 9.6rem;
}

.pro-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  justify-self: center;

}


.pro-oval{
  background-color: #eee3ff;
  border: 2px dashed blue;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 2rem;
  display: grid; 
  justify-self: center;
  align-self: center;
  overflow: hidden; 
}

.pro-oval img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;  
  display: block;
}

.pro-title{
  font-size: 3.2rem;
  color: #fff;
  letter-spacing: 0.75px;
}

.pro-text{
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.75px;
  padding-right: 10rem;
  color: #fff;
}

.pro-area{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
}

.pro-input{
  width: 85%;
  
  border: 3px solid #fff;
  border-radius: 30px;
  color: #444;
  padding: 2rem;
}

.pro-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #151515;
  color: #eee;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.pro-btn:hover {
  transform: translateY(-3px);
}

/* .button-span {
  color: #aaa;
} */

/* 
************************
input Style
************************
 */


.section-inp{
  padding: 0 9.6rem;
  margin-bottom: 3.2rem;
}

/* From Uiverse.io by Alaner-xs */ 
/* .input {
 background-color: #383838;
 border: 1ex solid none;
 border-top-width: 1.7em;
 margin: 0;
 padding: 0;
 color: #383838;
 word-wrap: break-word;
 outline: 7px solid #383838;
 height: 30px;
 font-size: 17px;
 text-align: center;
 transition: all 0.3s;
 max-width: 100%;
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
}

.input:hover {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
}

.input:focus {
 border-top-width: 0.2em;
 background-color: #f1e8e8;
} */


/* From Uiverse.io by anniekoop */ 
.input {
  max-width: 100%;
  height: 4rem;
  padding: 0.875rem;
  font-size: 1.6rem;
  font-weight: 300;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}


.inp-info{
  display: flex;
  align-items: center;
  
  gap: 3.2rem
}

.inp-dec{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 9.6rem;
 /* margin-bottom: 10rem; */
}

.inp-number{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue;
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  color: #fff;
  
}

.inp-title{
  font-size: 2.4rem;
  letter-spacing: 0.75px;
}

.inp-text{
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.75px;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding: 0;
  letter-spacing: 0.75px;
}

.inp-form{
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.inp-1{
  display: flex;
  gap: 3rem;
  width: 100%;
  align-items: center;
}


.inp-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 3rem;
  margin-bottom: 9.6rem;
}

.inp-grid > :nth-child(3),.inp-grid > :nth-child(4),.inp-grid > :nth-child(9){
  grid-column: 1 / -1;

}

.edc-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 3rem;
  margin-bottom: 3.2rem;
}

.inp-name{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

}



.edit-gird{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.edit-gird > :nth-child(3){
  grid-column: 1 / -1;
}

/* 
************************
  preview Style
************************
 */

.pre-container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 3.2rem;
  margin-top: 5rem;
}

.pre-bg{
  background-color: #000;
  height: 100vh;
  border-radius: 2rem;
}

.btn-style{
  display: flex;
  justify-content: end;
  margin-bottom: 3rem;
}

/* From Uiverse.io by ferlagher */ 
.del-btn {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.del-btn::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.del-btn:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.del-btn:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}